.search{
    height: 35px;
    width: 300px;
    display: flex;
    margin-left: 20px;
    margin-right: auto;

    &__input{
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;
        height: 100%;
        border: 1px solid $primary-color;
        width: 80%;
        padding: 6px 8px;
        &:focus{
            outline: none;
            box-shadow: 0px 0px 6px rgba(255,255,255,.5);
        }
        &::placeholder{
            color: lightgray;
        }
    }
    &__button{
        height: 100%;
        width: 20%;
        background-color: $primary-color;
        border-top-right-radius: 17px;
        border-bottom-right-radius: 17px;
        border: none;
        transition: background-color .3s ease;
        outline: none;
        &:hover{
            background-color: lighten($primary-color, 18%);
            cursor: pointer;
        }
    }

    @media(max-width: $breakpoint-sm){
        &{
            flex-direction: column;
        }
    }
}